Package: [[name]]
Version: [[version]]
Architecture: all
Maintainer: Abdullah EKE <abdheke@gmail.com>
Section: web
Priority: optional
Depends: graylog-server | graylog-radio
Description: [[description]]
